.loginpage {
    font-family: 'Poppins', sans-serif; 
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    background-color: #f8f9fa; 
  }
  
  .login-container {
    background-color: white; 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; 
    text-align: center; 
  }
  
  .login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
  }
  
  .login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .login-button {
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; 
  }

  .back-button {
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; 
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  .logout-button {
    background-color: #dc3545; 
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
    transition: background-color 0.3s;
    width: 100%; 
  }
  
  .logout-button:hover {
    background-color: #c82333; 
  }
  
  .link-button {
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
    transition: background-color 0.3s;
    width: 100%; 
  }
  
  .link-button:hover {
    background-color: #0056b3; 
  }
  